.card-list{
    width: 55vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px
}
@media only screen and (max-width: 480px) {
    .card-list{
        grid-template-columns: 1fr;   
    }
}