.search-box{
    border: none;
    outline: none;
    padding: 8px;
    width: 23%;
    line-height: 30px;
    margin-bottom: 50px;
    border-radius: 15px;
}

@media only screen and (max-width:480px) {
    .search-box{
        width:auto;

    }
}